/***** HEAD *****/


* {
    box-sizing: border-box;
}

* {	
    margin: 0;
}

@font-face {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#wrap {
	min-height: 100%;
}

body {
	height: 100%;
}

.backBtt {
	text-align: center;
    font-size: 1.3em;
    text-decoration: underline;
	width: 100px;
	margin: 20px 0 0 100px;
}


/***** HEADER *****/

.headerSec {
	display: flex;
	flex-direction: row;
    width: 100%;
    height: 180px;
}

.banner {
   	display: flex;
    justify-content: flex-end;
    background: #440099;
	width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: oblique;
    color: #ffd700;
    border-bottom: solid 3px #ffd700;
	margin-bottom: 120px;
}

.banner h1 {	
	font-size: 1.4em;
	font-weight: bold;
    text-shadow: 1px 1px 4px #000;
    padding-right: 15px; 
	width: 100%;
	text-align: right;
}

.cccLogo {
    position: absolute;
    width: 14%;
    top: 20px;
	left: 35px;
}


/***** NAV LINKS *****/

 .navPhone2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: .9em;
	font-weight: bold;
	height: 45px;
	width: 100%;
	top: 125px;
	right: 10px;
	z-index: 5; 
}
         
.navPhone2 ul {
    color: #000080;
    list-style-type: none;
}

.navPhone2 li {
    float: left;
	margin: 2px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
	border: solid 2px #440099;
	background: powderblue;
}


/***** NAV LINKS *****/

.navPhone2 a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    color: #440099;
    text-decoration: none;	
    border-radius: 10px;
}

a:link {
    color: #440099;
}  

a:visited {
    color: #ff1cd5;
}

a:hover {
    color: #ff1cd5;
}



/***** CONTENT *****/

.content {   
	display: flex;
    flex-direction: column;
    width: 100%;
    overflow:auto;
	position:absolute;
}


/***** BACKGROUND IMAGES *****/

#prlx_lyr_4,
#prlx_lyr_0 {
	width: 50%;
	height: auto;
	position: fixed;
	z-index: -1;
	opacity: .5;
}

#prlx_lyr_1,
#prlx_lyr_2 {
	width: 100%;
	height: auto;
	position: fixed;
	z-index: -1;
}


/***** MAIN BOX AND CAROUSEL *****/

.mainBxandCarsl {
	display: flex;
	flex-direction: row;
	height: auto;
}



/***** MAIN CCC *****/

.mainBx {
    display: flex;
  	flex-direction: column; 
    width: 48%;
    height: auto;
    left: 30px;
    top: 103px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin: 0 10px 5px 5px;
    background-color: powderblue;
    border: solid 2px darkblue;
    opacity: 0.9;
    filter: alpha(opacity=0.9); 
	overflow: hidden;
}

.mainBx span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    color: #440099;
    margin: 0 10px;
    padding: 25px;
}

span h4 {
	font-size: 2.4em;
	font-wehight: bold;
	text-align: center;
}

.mainCols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000;
	height: auto;
}

.mainCol1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    width: 46%;
    height: 390px;
    margin: 0 20px 0 10px;
    padding: 0 15px;
}

p {
	font-size: 1.1em;
}


.mainCol2 {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: 350px;
    margin: 5px 0 0 20px;
}



/***** SCHOLARSHIP LINK ON MAIN BOX *****/

.mainBxFtr {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 20%;
	height: auto;
	justify-items: center;
}

#scholLinks {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
	width: 85%;
    color: powderblue;
	margin-bottom: 30px;
}

#scholLinks a {
    font-size: 1.2em;
    text-decoration: underline;
}


/***** BUTTONS ON MAIN BOX *****/
#hrBtt {
	.center-block();
	margin-left: 80px;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
}

#dnBtt {
	.center-block();
	margin: 40px 0 0 100px;
	display: flex;
	flex-direction: row;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
}

#dnBtt a {
	align-items: center;
	color: #fff;
}

.mainBkBtt {
	display: flex;
	flex-direction: column;
	width: 30%;
	justify-content: flex-start;
	margin-top: 10px;
    font-size: 1.3em;
    text-decoration: underline;
	z-index: 1009;
}


/***** HOURS FOR MODAL PAGE *****/
.hours2 {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    color: #440099;
    text-align: center;
    list-style-type: none;
	width: 100%;
	height: 1000px;
	top: 0;
}

.hrs2list ul {
	list-style-type: none;
}

#hrHd {
	font-size: 1.4em;
}

#hdhrs {
    font-size: .9em;
    text-decoration: underline;
    color: #440099;
    padding-bottom: 5px;
}

.day {
    font-size: .7em;
	margin: 70px 50px 5px 0;
}

.time {
    font-size: .6em;
    color: #000;
    margin: 0 50px 10px 0;
}

/***** MODAL WINDOW FROM  MAIN BOX *****/

.modal-backdrop {
    opacity:1.;
    z-index: -1;
}

.higherWider {
	width: 270px;
}

.modal-title {
	font-size: 2em;
	text-align: center;
	color: #440099;
}

.modal-dialog {
  	margin: 2.5vh auto;
	height: 50vh;
	width: 60%;
}

.modal-content {
  max-height: 95vh;
  overflow: scroll;
}

.modal-body {
  min-height: 90vh;
  max-height: 90vh;
}

.modal-body img {
  max-height: 69vh;
}



/***** SLIDE SHOW *****/
 
.carousel {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 650px;
	
} 

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: nowrap;
    height: 130px;
	width: 100%;
	
}

.list-inline{
	display: inline-block;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: 90%;
	height: 120px;
	
}

.thumbnail img {
    height: 100px;
	width: auto;
	background-size: contain;
    padding: 0;
	margin-right: 0;
	right: 0;
	cursor: pointer;
	overflow: hidden;
}

.largeImg{
    width: 90%;
    height: auto;
	margin-left: 10%;
}



/***** ABOUT CCC *****/

.about {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1040px;
    margin: 300px 0 0;
    background: powderblue;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9); 
	overflow: hidden;
}

.img17 {
    width: 100%;
    height: auto;
    padding: 25px;
}

.aboutLeft,
.aboutRight {
	display: flex;
    flex-direction: column;
    width: 48%;
	height: auto;
    margin-left: 20px;
    font-size: 1.3em;
}

.aboutTtl_L {
    display: none;   
}

.aboutTtl_R {
    width: 100%;  
	padding-top: 15px;
	
}

#aboutEEIrow {
    display: flex;
    flex-direction: column;
	width: 100%;
	font-size: 1.4em;
    justify-content: center;
    align-content: space-around;
}

#aboutEEIrow li {
    list-style-type: none;
    color: #440099;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.about span h4 {
    font-size: 2.2em;
    padding: 15px;
}

#sec1 {
    list-style-type: disc;
    font-size: 1.1em;
	width: 100%;
}

#sec1 li {
    padding-bottom: 10px;
	margin: 0 40px 0 5px;
}

    
/***** ABOUT SECTION 2 *****/

.serviceProj {
    width: 100%;
    height: 100%;
    font-size: .9em;
    font-style: oblique;
    padding-top: 5px;
}

#imgSvc {
    font-size: .8em;
    font-style: oblique;
    padding: 0 5px 15px 40px;
}

.aboutCCCsec2 {
    font-size: 1em;
    border-top: solid 3px darkblue;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    padding: 25px;
}

#paraRight {
    font-size: 1em;
    padding: 5px 45px 10px 0;
	width: 100%;
}

#bulletRight {
    font-size: 1em;
    margin-bottom: 20px;
	width: 100%;
}

#bulletRight li {
    padding-bottom: 5px;
}


/***** EDUCATE EMPOWER INSPIRE *****/

.containerEEI {
	display: flex;
	flex-direction: row;
	align-items: baseline;
    width: 1300px;
    top: 400px;
    margin: 0 auto;
}


/***** EDUCATE *****/

.educate {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 300px 0 0 20px;
	padding-top: 10px;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

.educate h4,
.empower h4, 
.inspire h4 {
    font-size: 2em;
    color: palevioletred;
    text-align: center;
    padding: 10px 0 0;
    width: 100%;
}

.educate p,
.empower p,
.inspire p {
    font-size: 1.2em;
    padding: 5px 40px 20px;
    width: 100%;
    color: #eee;
}

.educate ul {
    list-style-type: disc;
    width: 100%;
    color: #fff;
    padding-right: 10px;

}

.educate li,
.empower li,
.inspire li {
    list-style-type: disc;
    color: #fff;
	font-size: 1.2em;
    padding: 0 40px 20px 0;
    margin: 0 15px;
    width: 100%;
}

.educate a {
    font-size: 1.1em;
    width: 40%;
    height: 60px;
    color: #fff;  
    margin-top: 30px;
    text-decoration: underline;
    justify-content: flex-end;
}


/***** EMPOWER *****/

.empower {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
    vertical-align: middle;
    top: 0;
    margin: 300px 0 0 30px;
	padding: 10px;
	color: #fff;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

.empower span h4 {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    width: 50%;
}

.empower a {
    font-size: 1.1em;
    width: 50%;
    height: 50px;
    color: #fff;  
    margin-top: 30px;
    text-decoration: underline;
    justify-content: flex-end;
}


/***** INSPIRE *****/

.inspire {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 300px 0 0 20px;
	padding-top: 10px;
    background: #440099;
	color: #fff;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

.inspire a {
    font-size: 1.1em;
    width: 50%;
    height: 50px;
    color: #fff;  
    margin-top: 30px;
    text-decoration: underline;
    justify-content: flex-end;
}


/***** VOLUNTEER *****/

.vol {
    display: flex;
    flex-direction: row;
    border: solid 2px darkblue;
    width: 100%;
    height: auto;
    margin: 300px 0 0;
    background: powderblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

/***** VOLUNTEER SECTION 1 *****/

.volLeft {
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 1.3em;
}


.vol span h4 {
    font-size: 2.1em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%;
}

.vol p {
    font-size: 1.1em;
    padding: 10px 45px 5px 30px;
}

.volSec1 {
    list-style-type: disc;
    margin-left: 35px;
    font-size: 1.1em;
    padding: 15px 90px 5px 50px;
	width: auto;
}


/***** VOLUNTEER RIGHT *****/

form div + div {
	margin-bottom: 1em;
}

label {
	padding-bottom: 8px;
}

input {
	padding-bottom: 3px;
	margin-left: 10px;
}

.volQ {
	text-align: left;
	width: 70px;
	left: 0;
}

#volSub {
	border-radius: 30;
}


.volRight {
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 1.3em;
}

.volCCCsec2 {
    width: 100%;
    margin-left: 40px;
    justify-content: center;
    padding: 25px;
}

#volLinks {
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: flex-start;
	width:  100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 30;
    z-index: 11;
    top: 1640;
	margin: 35px 0 0 165px;
	text-decoration: underline;
}

#volLinks a:visited {
    color: #440099;
}

#volLinks a:hover {
    color: #ff1cd5;
}

.imgVol {
    width: 95%;
    height: 100%;
	margin-top: 15px;
}

#volCap {
    font-size: .9em;
    font-style: oblique;
    width: 92%;
	text-align: center;
	padding-bottom: 30px;
}


.volBkBtt {
	display: flex;
	justify-content: flex-end;
    font-size: 1.1em;
	width: 100%;
    height: 50px;
    text-decoration: underline;
    justify-content: center;
}

.mlTo {
	font-size: .9em;
}


/***** DONATE *****/

.donateBx {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: 560px;
    margin: 300px 0 0;
    background: powderblue;
    border: solid 2px #000080;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

donTtl {
	display: flex;
	flex-direction: row;
}

.donateBx span h4 {
    font-size: 2.8em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%;
	padding-top: 20px;
}

.donateBx h4 {
    font-size: 2.3em;
    color: #440099;
    text-align: center;
}

.donSec1 {
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 15px 35px 0 0;
}

.donateBx p {
	display: flex;
	flex-direction: row;
    font-size: 1.4em;
	margin: 10px 70px 0 30px;
    width: 100%;
}

#paypalGraphic {
	margin: 0 auto;
}

.donBthSecs {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.donSec2 {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.imgDon {
	width: 100%;
	height: auto;
	margin: 70px 0 0 80px;
}

.donBkBtt {
	display: flex;
    font-size: 1.3em;
	width: 30%;
    height: 50px;
    text-decoration: underline;
    justify-content: center;
}


/***** PARTNERS *****/

.partners {
	display: flex;
	flex-direction: column;
    border: solid 2px #000080;
    width: 100%;
    height: auto;
    top: 0;
    margin: 300px 0 0;
    background: powderblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

.partners span h4 {
    font-size: 2.8em;
    color: #000;
    text-align: center;
    padding: 30px 15px 40px;
    width: 95%;
	justify-content: center;
}
	
.partners h4 {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
    font-size: 2em;
    color: #440099;
    justify-content: center;
}

.partners p {
	display: flex;
	flex-direction: row;
    font-size: 1.4em;
	margin: 5px 70px 0 30px;
padding-right: 20px;
    width: 100%;
}

.partners ul {
    list-style-type: disc;
}

.partners li {
    margin: 0 35px;
    padding: 5px;
	font-size: 1.4em;
}

.partSecs {
	display: flex;
	flex-direction: row;
}

.partSec1 {
	display: flex;
	flex-direction: column;
	width: 46%;
}

.partSec2 {
	display: flex;
	flex-direction: column;
	width: 46%;
	margin-left: 80px;
}

.partBkBtt {
    font-size: 1.4em;
    width: 20%;
    height: 50px;
    margin: 0 0 5px 5px;
	text-decoration: underline;
	text-align: right:
}

/***** DIRECTIONS *****/

.directions {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
    margin: 300px 0 0;
    background: powderblue;
    border: solid 2px #000080;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

.directions span h4 {
	display: flex;
	justify-content: center;
	height: auto;
	flex-direction: column;
    font-size: 2.8em;
    color: #000;
    text-align: center;
    padding: 30px 15px 0 40px;
    width: 100%
}

.dirSecs h3 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
    color: #440099;
    text-align: center;
}

.directions ul {
    list-style-type: disc;
    width: 90%;
	margin-top: 15px;
}

.directions li {
    list-style-type: disc;
    width: 90%;
    padding: 15px;
	font-size: 1.4em;
	margin-left: 20px;
}

.directions p {
    font-size: 1.4em;
    padding: 0 40px;
    width: 95%;
}

.dirSecs {
    display: flex;
	flex-direction: row;
    width: 100%;
    height: 100%;
	margin-top: 35px;
}

.dirSec1 {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
}

.dirSec2map {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
	margin-top: 55px;
}

.dirBkBtt {
    font-size: 1.4em;
    width: 30%;
    height: 50px;
	margin: 20 0 0 550px;
	text-decoration: underline;
    justify-content: flex-end;
}



/***** CONTACT *****/

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
    border: solid 2px darkblue;
    width: 100%;
    height: auto;
    margin: 430px 0 0;
    background: powderblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
	overflow: hidden;
}

.conTtl {
	display: flex;
	flex-direction: column;
    color: #000;
    text-align: center;
    margin: 30px 15px 15px;
}

.conTbl {
	width: 100%;
	margin: 50px 0;
	width: 45%;
}

.conTbl td,
.conTbl th {
	font-size: 1.4em;
	margin-bottom: 10px;
	text-align: center;
}

.conTbl th {
	text-decoration: underline;
	height: 50px;
}

.phone img{
	margin-left: 10px;
	
}

.contBkBtt {
	display: flex;
	font-size: 1.6em;
    width: 100%;
    height: 50px;
	margin: 20px 0 0 15px;
	text-decoration: underline;
    justify-content: center;
}


/***** FLIKR IMAGES *****/

#images {
	width: 100%;
	height: 110px;
	margin: 50px 0 200px;
	padding-left: 5%;
}



/***** FOOTER *****/

.fbLogo {
	width: 55px;
	height: auto;
    border-radius: 0;
	padding-left: 20px;
    z-index: 1010;
}

.fbLogo a {
	display: inline;
}

footer {
   display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%; 
	height: 95px;
	justify-content: center;
	font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 100%;
	line-height: .8;
    border-top: solid 3px darkblue;
	text-align: center;
	background: #6b6b6b;
}

.line ul {
	list-style-type: none;
}

.line {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: center;
	font-size: 1em;
}



/**************************
MEDIA QUERIES - PHONES
***************************/

@media (max-width: 767px){
    
	#prlx_lyr_4,
	#prlx_lyr_0,
	#prlx_lyr_1,
	#prlx_lyr_2 {
		display: none;
	}
	
	
	.banner {
		margin-bottom: 80px;
	}
	
	.banner h1 {
		font-size: 1.4em;
        text-align: center;
        padding-left: 20px;
	}
    
    .cccLogo {
        top: 108px;
        left: 20px;
    }
    
    #logo {
		height: 84px;
		width: 140px;
		background-size: contain;
	}
	
	.carousel {
		display: none;
	}
	
	.gallery {
        display: none;
    }
	
	.list-inline {
        display: none;
    }

    .thumbnail img {
        display: none;
    }
    
	.largeImg {
		display: none;
	}
	
    .navPhone2 {
        flex-direction: column;
        font-size: 2.8em;
        height: auto;
        width: 42%;
		padding-top: 0;
    }    
	
	.navPhone2 ul {
		padding: 0 5px;
	}
	
    .navPhone2 li {
        font-size: .4em;
        text-align: center;
		padding-bottom: 15px;
		border: none;
		float: none;
		background: none;
    }

	
	.bkgdImgInvrt4 {
		display: none;
	}
	
	
	.mainBxandCarsl {
		flex-direction: column;
		margin-top: 200px;
	}
	
	carousel {
		none;
	}

    .mainBx {
		width: 100%;
		height: auto;
		margin: 100px 0 0;
		padding: 0 20px 5px 15px;
	}

	span h4 {
		font-size: 2.3em;
	}

	.mainCols {
		flex-direction: column;
		height: auto;
	}

	.mainCol1 {
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.mainCol2 {
		height: auto;
		margin: 0 30px 30px 0;
	}

	.mainBxFtr{
		.center()
		width: 100%;
		margin-left: 0;
		height: 300px;
	}

	#scholLinks {
		margin-left: 5px;
		width: 100%;
	}

	#hrBtt {
		margin-left: 100px;
	}

	#dnBtt {
		margin: 40px 0 0 100px;
	}
	
	.mainBkBtt {
		width: 90%;
		margin-top: 0;
	}
		
	
	.about {
		flex-direction: column;
    	margin: 100px 0 0;
		height: auto;
		top: 0;
	}
	
	.aboutTtl_L {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.img17 {
		display:  none;
	}

	.aboutTtl_R {
		display: none;   
	}

	.about span h4 {
		font-size: 2em;
		color: #000;
		width: 100%;
		padding: 15px 30px 5px 0;
	}
	
	.aboutLeft {
		height: auto;
		width: 100%;
		font-size: 1.em;
	}

	.aboutLeftimg {
		display: none;
	}
	
	.about p {
		font-size: 1.1em;
		padding: 10px 45px 5px 5px;
	}

	#aboutEEIrow {
		justify-content: center;
		padding: 0 30px 0 0;
	}
	
	.aboutRight {
		width: 100%;
		height: auto;
		margin: 0;
	}

	.serviceProj {
		height: auto;
	}

	.aboutCCCsec2 {
		font-size: 1.1em;
		height: auto;
	}
	
	#paraRight {
		font-size: 1.1em;
	}

	#bulletRight li {
		font-size: 1.1em;
	}

	
	.containerEEI {
		flex-direction: column;
		width: auto;
		margin: 100px 0;
	 }

	.educate {
		margin: 0;
		height: auto;
	}

	.educate h4,
	.empower h4, 
	.inspire h4 {
		padding: 10px 0 8px 0;
	}
	
	.educate ul {
		height: auto;
	}

	.educate li,
	.empower li,
	.inspire li {
		padding: 8px 40px 8px 0;
	}

	
	.educate a {
		font-size: .9em;
		width: 25%;
		height: auto;
		margin: 30px 0;
		justify-content: flex-start;
	}

	
	.empower {		
		height: auto;
		margin: 100px 0 0 0;
	}


	.inspire {
		height: auto;
		margin: 100px 0 0;
	}

	.inspire a {
		font-size: .9em;
		width: 25%;
		height: auto;
		color: #fff;  
		margin-top: 30px;
		justify-content: flex-start;
	}
	
	
	 .vol {
		 display: flex;
		flex-direction: column;
		height: auto;
		margin: 100px 0 0;
	}

	.volLeft {
		width: 100%;
		font-size: 1.2em;
	}
	
	p.volSec1para {
		font-size: 1.2em;
	}

	.volSec1 {
		margin: 0 0 0 5px;
	}
	
	#volLinks {
		align-items: flex-start;
		width:  10%;
		text-align: center;
		margin: 0 0 0 80px;
	}
	
	#volLinks a:hover {
		color: #ff1cd5;
	}
	
	#volLinks a:focus {
		display: green;
	}

	.volRight {
		width: 100%;
		height: auto;
	}

	.volCCCsec2 {
		flex-direction: column;
		margin-left: 0;
		padding: 5px 2px 2px 15px;
	}
	
	.volBkBtt {
		font-size: 1.1em;
	}

	
	.donateBx {
		flex-direction: column;
		margin: 100px 0 0;
		width: 100%;
		height: auto;
	}

	.donateBx span h4 {
		padding: 20px 0 0;
	}

	.donateBx p {
		flex-direction: column;
	}
	
	.donBthSecs {
	display: flex;
	flex-direction: column;
	width: 100%;
}

	.donSec1 {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-right: 50px;
	}

	.donSec2 {
		width: 100%;
	}

	.imgDon {
		margin-left: 0;
	}	
	
	.partners {
		margin: 100px 0 0;
		height: auto;
	}

	.partners span h4 {
		padding: 30px 15px  40px;
	}

	
	.partners h4 {
		flex-direction: column;
		text-align: center;
	}

	.partners p {
		flex-direction: column;
		width: 90%;
	}
	
	.partSecs {
		flex-direction: column;
	}

	.partSec1 {
		flex-direction: column;
		width: 100%;
	}

	.partSec2 {
		flex-direction: column;
		width: 100%;
		margin-left: 0;
		height: auto;
	}

	.partBkBtt {
		width: 80px;
	}

	
	.directions {
		margin: 100px 0 0;
		height: auto;
	}

	.directions p {
		font-size: 1.4em;
		padding: 0 30px;
	}

	.dirSec2map {
		display: none;
	}

	.dirBkBtt {
		font-size: 1.4em;
		width: 30%;
	}


	.contact {
		margin: 100px 0 0;
	}

	.conTtl {
		font-size: 1.1em;
		padding: 0;
		margin-bottom: 0;
	}

	.conTbl {
		width: 100%;
		margin-bottom: 30px;
		font-size: .9em;
	}

	.conTbl td,
	.conTbl th {
		font-size: 1.2em;
		text-align: center;
	}

	.conTbl th {
		text-decoration: underline;
		height: 50px;
	}

	.contBkBtt {
		font-size: 1em;
		width: 100%;
		height: 50px;
		text-decoration: underline;
		margin: 0;
	}
	
	.line {
		font-size: 1rem;
	}
	
	#images {
		display: none;
	}
	
}
    
/***** END SMALL PHONES MQ *****/



/**************************
MEDIA QUERIES - MEDIUM
***************************/

@media (min-width: 767px) and (max-width: 979px){
	
	
	.cccLogo {
		position: absolute; 
		width: 14%;
		top: 100px;
		left: 15px;
	}
	
	.mainBx {
		width: 70%;
		height: auto;
		margin: 70px 0 0;
		padding: 0 20px 5px 15px;
	}

	span h4 {
		font-size: 2.3em;
	}

	.mainCols {
		flex-direction: row;
		height: auto;
	}

	.mainCol1 {
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.mainCol2 {
		height: auto;
		margin: 0 30px 60px 0;
	}

	.mainBxFtr {
		width: 100%;
		margin-left: 0;
		height: auto;
	}

	#scholLinks {
		margin-left: 5px;
		width: 100%;
	}

	#hrBtt {
	.center-block();
		margin-left: 100px;
	}

	#dnBtt {
		.center-block();
		margin: 40px 0 0 100px;
	}
	
	.mainBkBtt {
		width: 90%;
		margin-top: 30px;
	}

	
	.about {
		height: auto;
		margin: 350px 0 0;
	}
	
	
	.containerEEI {
		flex-direction: column;
		width: auto;
		margin: 100px 0;
	 }

	.educate {
		margin: 0;
		height: auto;
	}

	.educate h4,
	.empower h4, 
	.inspire h4 {
		padding: 10px 0 8px 0;
	}
	
	.educate ul {
		height: auto;
	}

	.educate li,
	.empower li,
	.inspire li {
		padding: 8px 40px 8px 0;
	}

	.educate a {
		font-size: .9em;
		width: 25%;
		height: auto;
		margin: 30px 0;
		justify-content: flex-start;
	}

	
	.empower {		
		height: auto;
		margin: 100px 0 0 0;
	}


	.inspire {
		height: auto;
		margin: 100px 0 0;
	}

	.inspire a {
		font-size: .9em;
		width: 25%;
		height: auto;
		color: #fff;  
		margin-top: 30px;
		justify-content: flex-start;
	}
	

	.vol {
		height: auto;
		margin: 100px 0 0 0;
	}
	
	.vol p {
		font-size: 1.1em;
		padding: 10px 45px 5px 30px;
	}
	
	.volSec1 {
		list-style-type: disc;
		margin-left: 35px;
		font-size: 1.1em;
		width: auto;
	}
	
	.imgVol {
		width: 100%;
		margin-top: 155px;
	}

	#volLinks {
		top: 1640;
		margin: 35px 0 0 15px;
		text-decoration: underline;
	}

	
	.donateBx {
		height: auto;
		margin-top: 100px;
	}

	#paypalGraphic {
		margin: 0 auto;
		width: 70%;
		height: 70%;
	}

	.donBkBtt {
		display: flex;
		font-size: 1.3em;
		width: 50%;
		height: 90px;
		text-decoration: underline;
		justify-content: flex-end;
		align-items: flex-end;
	}

	
	.partners {
		margin: 120px 0 0;
		height: auto;
	}

	.partners h4 {
		text-align: center;
	}

	.partSec1 {
		width: 43%;
	}

	.partSec2 {
		width: 43%;
	}

	.partBkBtt {
		font-size: 1.4em;
		width: 20%;
		height: 50px;
		padding: 20px 0 0 80px;
		text-align: right:
	}
	
	.directions {
		margin: 100px 0 0;
	}

	.dirSec1 {
		width: 100%;
	}

	.dirSec2map {
		display: none;
	}

	
	.dirBkBtt {
		margin: 20px 0 0 200px;
	}

	
	.contact {
		margin: 100px 0 0;
	}
	
	.conTbl {
		width: 85%;
	}	

	.fbLogo {
		width: 40%;
	}
	
	
	#images {
		display: none;
	}

}


/***** END MEDIUM MQ *****/



/**************************
MEDIA QUERIES - LARGE
***************************/

@media (min-width: 980px) and (max-width: 1199px){

	.mainBx {
		display: flex;
		flex-direction: column; 
		height: auto;
	}

	.mainCol1 {
		width: 98%;
		height: auto;
	}

	.mainCol2 {
		width: 98%;
		height: auto;
		margin-left: 0;
	}

	#scholLinks {
		width: 120%;
		margin-bottom: 30px;
	}

	
	.about {
		margin: 400px 0 0;
		height: auto;
	}

	
	.containerEEI {
		width: 100%;
	}
	
	.educate {
		margin: 300px 0 0 0;
	}

	.vol {
		margin: 300px 0 0;
	}
	
	
	.donateBx {
		height: auto;
	}
	
	
	.dirBkBtt {
		margin: 20px 0 0 50px;
	}

	.contact {
		margin: 330px 0 0;
	}

	.conTbl {
		width: 100%;
		margin: 50px 0;
		width: 65%;
	}
	
	.fbLogo {
		width: 40%;
	}
	
	
	.images {
		display: none;
	}
	
}
		
/***** END LARGE MQ *****/



/**************************
MEDIA QUERIES - X-LARGE
***************************/

@media (max-width: 1300px) {
	
	.mainBx {
		display: flex;
		flex-direction: column; 
		height: auto;
	}

	.mainCol1 {
		width: 98%;
		height: auto;
	}

	.mainCol2 {
		flex-direction: column;
		width: 98%;
		height: auto;
		margin-left: 0;
	}

	#scholLinks {
		width: 120%;
		margin-bottom: 30px;
	}
	
	
	#images {
		display: none;
	}
	
	
}

/***** END X-LARGE MQ *****/