          /* HEADER */


* {
    box-sizing: border-box;
}

* {	
    margin: 0;
}

@font-face {
    font-family: 'Slabo 27px', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/************************
HEADER
*************************/

.headerSec {
	display: flex;
	flex-direction: row;
    display: inline-block;
    width: 100%;
    height: 120px;
}

.banner {
   	display: flex;
    justify-content: flex-end;
    background: #440099;
	width: 100%;
    padding: 10px 3px; 
    font-size: .6em;
    text-shadow: 1px 1px 4px #000;
    font-family: 'Lato', sans-serif;
    font-style: oblique;
    color: gold;
    border-bottom: solid 3px gold;
}

.banner h1 {
    padding-right: 10px; 
}

.cccLogo {
    position: absolute; 
   /* margin: 10px 0 0 25px;*/
    width: 14%;
    top: 20px;
	left: 35px;
}

#logo{
/*   height: 108px;
    width: 180px; 
    background-size: contain; */
}



/****************************
NAV LINKS
*****************************/

 .navPhone2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-size: .8em;
        font-weight: bold;
        height: 45px;
        width: 100%;
        top: 65px;
        right: 10px;
        z-index: 5; 
}
         
.navPhone2 ul {
    color: navyblue;
    list-style-type: none;
}

.navPhone2 li {
    float: left;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 2px;
	border: solid 2px #440099;
}



/************************
NAV ANCHORS
*************************/

a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    color: #440099;
    text-decoration: none;	
    border-radius: 10px;
}

a:link {
    color: #440099;
}  

a:visited {
    color: #ff1cd5;
}

/* mouse over link */
a:hover, a:focus {
    color: gold;
    background:#222;
}

/* selected link */
a:active {
    color: red;
}


/************************
TUITION ASSIST
*************************/



/************************
CONTENT
*************************/


.content {   
	display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
}


/************************
BACKGROUND IMAGE
*************************/


.bkgdImgInvrt4 {
    position: fixed;
    background-image: no repeat;
    width: 100%;
    top: 0;
	opacity: .7;
}


/************************
SLIDE SHOW
*************************/

  
.slideShow {
    display: inline-flex;
    position: absolute;
    width: 45%;
    height: 100px;
    top: 174px;
    right: 30px;
    overflow-x: scroll;
    z-index: 1001;
}

.slideShow img{
    height: 100%;
    width:  auto;
    background-size: contain;
    cursor: pointer;
    border: solid 2px #440099;
    z-index: 1002;
}

.lrgImg {
    position: absolute;
    width: 45%;
    height: auto;
    top: 140px;
	right: 30px;
    margin: 150px 0 0 10px;
    background-size: contain;
    cursor: pointer;
    border: solid 3px darkblue;
    z-index: 8;
}


/************************
MAIN CCC
*************************/

.mainBx {
    display: flex;
    position: absolute;
    width: 43%;
    height: 440px;
    left: 30px;
    top: 173px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-align: left;
    padding: 5px 10px 5px 5px;
    background-color: powderblue;
    border: solid 2px darkblue;
    z-index: 8;
    opacity: 0.9;
    filter: alpha(opacity=0.7); 
}

.mainBx span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    color: #440099;
    font-size: 1.3em;
    margin: 4px 4px;
    padding-bottom: 15px;
}

.mainCols {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #000;
}

.mainCol1 {
    width: 46%;
    height: 400px;
    float: left;
    clear: both;
    margin:5px 20px 0 10px;
    padding: 5px;
}

.mainnCol1 p {
    padding-bottom: 10px;
}

.mainCol2 {
    width: 46%;
    height: 400px;
    float: right;
    clear: both;
    margin:5px 20px 0 10px;
    padding: 5px;
}

#m1c2 {
    padding-top: 5px;
}

h4 {
	padding-bottom: 5px;
}

/**HOURS BUTTON ON MAIN BOX**/

.hoursBtt {
	position: absolute;
	color: #440099;
	display: inline-block;
	top: 0;
	left: 0;
	width: 75px;
	height: 35px;
	font-family: 'Lato', sans-serif;
	font-size: .7em;
	text-align: center;
	background: #ddd;
	border: solid 1px #000;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 30px #000;
    }


/**MODAL WINDOW TO HOURS FROM HOURS BUTTON FROM  MAIN BOX**/

.modalDialog {
	position: fixed;
	font-family: 'Lato', sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transion: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -0-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color:#fff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}


.hours2 {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #440099;
    text-align: center;
    list-style-type: none;
	width: 100%;
	top: 0;
}

.hrs2list ul {
	list-style-style: none;
}

#hdhrs {
    font-size: .9em;
    text-decoration: underline;
    color: #440099;
    padding-bottom: 5px;
}

.day {
    font-size: .7em;
    margin-bottom: 5px;
}

.time {
    font-size: .6em;
    color: #000;
    margin-bottom: 10px;
}

.backBtt {
	font-size: .9em;
    height: 50px;
    margin-top: 20px;
    text-decoration: underline;
    justify-content: flex-end;
}



/**DONATE BUTTON ON MAIN BOX**/

.donate {
    position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        width: 63px;
        height: 25px;
        padding-bottom: 25px;
        font-family: 'Lato', sans-serif;
        font-color: #fff;
        font-size: .8em;
        text-align: center;
        background: #ddd;
        border: solid 2px #000;
        border-bottom-left-radius: 30px #000;
        z-index: 1000;
}

/**SCHOLARSHIP LINK ON MAIN BOX**/

#scholLinks {
	width: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 30;
    z-index: 11;
    top: 140;
}

#scholLinks a {
    display: inline-block;
    position: absolute;
	width: 30%;
    top: 310px;
    left: 380px;
    font-size: 1.2em;
    text-decoration: underline;
	right: 0;
	margin-top: 20px;
    border-radius: 30px navyblue;
    z-index: 999;
}

#scholLinks a:visited {
    color: #440099;
}

/* mouse over link */
#scholLinks a:hover {
    color: gold;
}
 

/****************************
ABOUT CCC
*****************************/

.about {
    display: flex;
    flex-direction: row;
    width: 1348px;
    height: 940px;
    top: 1000px;
    margin: 1000px 0 0;
    background: powderblue;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.img17 {
    width: 100%;
    height: 325px;
    padding: 25px;
}

.aboutLeft{
    display: flex;
    flex-direction: column;
    height: 600 px;
    width: 48%;
    font-size: 1.3em;
}

.aboutLeftimg{
    width: 100%;
    height: auto;
}

.aboutRight{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-left: 20px;
    font-size: 1.3em;
}

.aboutTtl{
    width: 100%;    
}

#aboutEEIrow{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;
    align-content: space-around;
}

#aboutEEIrow li {
    list-style-type: none;
    color: #440099; 
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.about span h4 {
    font-size: 2.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%;
}

#sec1 {
    list-style-type: disc;
    margin-left: 15px;
    font-size: .8em;
    padding: 10px 90px 0 50px;
    
}

#sec1 li {
    padding-bottom: 10px;
    margin-bottom: 5px
}

/* both left and right paragraphs  no bullets*/
.about p {
    font-size: .9em;
    padding: 10px 45px 20px 25px;
}

.about a {
    font-size: .9em;
	width: 30%;
    height: 50px;
    margin-top: 20px;
    text-decoration: underline;
    justify-content: flex-end;
}

    
/*********************************
ABOUT - SECTION 2
**********************************/

.serviceProj {
    width: 100%;
    height: 100%;
    font-size: .9em;
    font-style: oblique;
    padding-top: 5px;
    width: 100%;
}

#imgSvc {
    font-size: .7em;
    font-style: oblique;
    padding: 0 5px 15px 40px;
}

.aboutCCCsec2 {
    font-size: 1.1em;
    border-top: solid 3px darkblue;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    padding: 25px;
}

#paraRight {
    font-size: .9em;
    padding: 5px 45px 10px 0;
}

#bulletRight {
    font-size: .7em;
    margin-bottom: 20px;
}

#bulletRight li {
    padding-bottom: 5px;
}


/****************************
EDUCATE, EMPOWER, INSPIRE
*****************************/


.containerEEI {
    width: 1300px;
    top: 400px;
    bottom: 0;
    margin: 0 auto;
}

.educate {
    display: inline-block;
    width: 30%;
    height: 910px;
    vertical-align: middle;
    left: 0;
    margin: 300px 0 0 40px;
	padding-top: 15px;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}
/*
.educate span h4,
.empower span h4, 
.inspire span h4 {
    font-size: 1.2em;
    color: #eee;
    text-align: center;
    padding: 5px 0 25px;
    width: 100%;	
}
*/
.educate h4,
.empower h4, 
.inspire h4 {
    font-size: 1.2em;
    color: lavender;
    text-align: center;
    padding: 10px 0 0;
    width: 100%;
	
}

.educate ul {
    list-style-type: disc;
    width: 100%;
    color: #eee;
    padding-right: 10px;

}

.educate li,
.empower li,
.inspire li {
    list-style-type: disc;
    width: 50%;
    color: #eee;
    font-size: .9em;
    padding: 0 40px 20px 0;
    margin: 0 15px;
    width: 100%;
    color: #fff;
	
}

.educate p,
.empower p,
.inspire p {
    font-size: .9em;
    padding: 5px 40px 20px;
    width: 100%;
    color: #eee;
	
}

.educate a {
    font-size: .9em;
    width: 50%;
    height: 50px;
    color: #fff;  
    margin-top: 30px;
    text-decoration: underline;
    justify-content: flex-end;
	
}


/****************************
EMPOWER
*****************************/

.empower {
    display: inline-block;
    width: 30%;
    height: 495px;
    vertical-align: middle;
    top: 0;
    align: center;
    margin: 300px 0 0 20PX;
    right: 0;
	padding: 10px;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.empower span h4 {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    width: 50%;
}

.empower a {
    font-size: .9em;
    width: 50%;
    height: 50px;
    color: #fff;  
    margin-top: 30px;
    text-decoration: underline;
    justify-content: flex-end;
}


/****************************
INSPIRE
*****************************/

.inspire {
    display: inline-block;
    width: 30%;
    height: 375px;
    vertical-align: middle;
    top: 0;
    right: 0;
    align: center;
    margin: 300px 0 0 20PX;
	padding-top: 10px;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.inspire a {
    font-size: .9em;
    width: 50%;
    height: 50px;
    color: #fff;  
    margin-top: 30px;
    text-decoration: underline;
    justify-content: flex-end;
}


/*******************************
VOLUNTEER - LEFT
********************************/

.vol {
    display: flex;
    flex-direction: row;
    border: solid 2px darkblue;
    width: 1348px;
    height: 620px;
    top: 0;
    margin: 400px 0 0;
    background: powderblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.volLeft {
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 1.3em;
}


.vol span h4 {
    font-size: 2.3em;
    color: #000;
    text-align: center;
    padding: 25px;
    width: 100%;
}

/* both left and right paragraphs - no bullets*/
.vol p {
    font-size: .9em;
    padding: 10px 45px 5px 45px;
}

#volSec1 {
    list-style-type: disc;
    margin-left: 35px;
    font-size: .8em;
    padding: 0 90px 5px 50px;   
}

#volLinks {
	width: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 30;
    z-index: 11;
    top: 1640;
	width: 80%;
	margin-top: 15px;
	text-decoration: underline;
}

#volLinks a:visited {
    color: #440099;
}

/* mouse over link */
#volLinks a:hover {
    color: gold;
}
 

/****************************
VOLUNTEER - RIGHT
*****************************/

.volRight {
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 1.3em;
}

.volCCCsec2 {
    width: 100%;
    margin-left: 40px;
    justify-content: center;
    padding: 25px;
}

.imgVol {
    width: 95%;
    height: 100%;
	margin-top: 15px;
}

#volCap {
    font-size: .7em;
    font-style: oblique;
    width: 92%;
	text-align: center;
	padding-bottom: 30px;
}

.volBkBtt{
	display:flex;
    font-size: .9em;
	width: 30%;
    height: 50px;
	right: 0;
    text-decoration: underline;
    justify-content: center;
}

.mlTo {
	font-size: .9em;
}


/****************************
DONATE
*****************************/

.donateBx {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: 520px;
    top: 0;
    margin: 300px 0px 0 0px;
    background: powderblue;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

donTtl {
	display: flex;
	flex-direction: row;
}

.donateBx span h4 {
    font-size: 2.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%;
	padding-top: 30px;
}

.donateBx h4 {
    font-size: 2.3em;
    color: #440099;
    text-align: center;
    padding-bottom: 25px;
    width: 50%;
}

.donateBx p {
	display: flex;
	flex-direction: row;
    font-size: 1.1em;
	margin-top: 15px;
    padding: 5px 35px;
    width: 100%;
}

.donBthSecs {
	display: flex;
	flex-direction: row;
}

.donSec1 {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 15px;
}

.donSec2 {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.imgDon {
	width: 100%;
	height: auto;
	margin-left: 20px;
	padding: 35px 0 15px 20px;
}

.donBkBtt {
	display: flex;
    font-size: 1.3em;
	width: 30%;
    height: 50px;
    text-decoration: underline;
    justify-content: center;
}



/****************************
PARTNERS
*****************************/

.partners {
	display: flex;
	flex-direction: column;
    border: solid 2px darkblue;
    width: 100%;
    height: 720px;
    top: 0;
    margin: 340px 0 0;
    background: powderblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.partners span h4 {
    font-size: 2.3em;
    color: #000;
    text-align: center;
    padding: 30px 15px 40px;
    width: 100%;
	justify-content: center;
}
	
/*subheads*/
.partners h4 {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
    font-size: 2em;
    color: #440099;
    text-align: left;
    padding: 0 0 25px 35px;
}

.partners p {
	display: flex;
	flex-direction: row;
    font-size: 1.1em;
	line-height: 1.3;
    padding: 5px 25px 10px;
    width: 100%;
}

.partners ul {
    list-style-type: disc;
}

.partners li {
	padding-bottom: 15px;
    margin: 0 35px;
    padding: 5px;
	font-size: 1em;
}

.partSecs {
	display: flex;
	flex-direction: row;
}

.partSec1 {
	display: flex;
	flex-direction: column;
	width: 48%;
	height:;
}

.partSec2 {
	display: flex;
	flex-direction: column;
	width: 48%;
}

.partBkBtt {
    font-size: 1.4em;
    width: 40%;
    height: 50px;
    margin-top: 20px;
	text-decoration: underline;
    justify-content: flex-end;
}

/****************************
DIRECTIONS
*****************************/

.directions {
    width: 100%;
    height: 800px;
    margin: 380px 0 0;
    background: powderblue;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.directions span h4 {
    font-size: 2.3em;
    color: #000;
    text-align: center;
    padding: 30px 15px 40px;
    width: 100%
}

.directions h4 {
	font-size: 1.8em;
}

.directions h4 {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding-bottom: 25px;
    width: 50%;
}

.directions ul {
    list-style-type: disc;
    width: 90%;
}

.directions li {
    list-style-type: disc;
    width: 90%;
    margin: 0 45px;
    padding: 5px;
	font-size: 1.1em;
	margin: 5px 0;
	margin-left: 40px;
}

.directions p {
    font-size: 1.1em;
    padding: 5px 40px 15px;
    width: 90%;
}

.dirSecs {
    display: flex;
	flex-direction: row;
    width: 100%;
    height: 100%;
}

.dirSec1 {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
}

.dirSec2map {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: 100%;
	top: 0;
	
}

.dirBkBtt {
    font-size: 1.4em;
    width: 30%;
    height: 50px;
	margin-left: 320px;
    margin-top: 20px;
	text-decoration: underline;
    justify-content: flex-end;
}



/****************************
CONTACT
*****************************/

.contact {
	display: flex;
	flex-direction: column;
    border: solid 2px darkblue;
    width: 100%;
    height: 600px;
    margin: 430px 0 0;
    background: powderblue;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.conTtl {
	display: flex;
	flex-direction: column;
    font-size: 2.3em;
    color: #000;
    text-align: center;
    padding: 30px 15px 25px;
}

.conSub {
	display: flex;
	flex-direction: column;
    font-size: 2em;
	font-weight: bold;
    color: #440099;
    text-align: center;
    padding-bottom: 75px;
}

.conTbl {
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 54px;
	width: 45%;
}

.conTbl td,
.conTbl th{
	font-size: 1.2em;
	text-align: left;
	padding-right: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.conTbl th {
	text-decoration: underline;
	height: 50px;
}

.phone {
	padding-right: 13px;
}

.contBkBtt {
	font-size: 1em;
    width: 30%;
    height: 50px;
	margin: 20px 0 0 620px;
	text-decoration: underline;
    justify-content: flex-end;
}


/****************************
FOOTER
*****************************/
.fbLogo {
    position: fixed;
    top: 540px;
    margin: 60px 0 0 300px;
    padding: 5px;
    font-size: .8em;
    border-radius: 10px;
    z-index: 1003;
}

.fbLogo a {
    font-size: .8em;
}

.main-footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px; 
    width: 100%;
    padding: 10px 210px 10px 300px;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 80%;
    border-top: solid 3px darkblue;
	text-align: center;
    vertical-align: middle;
	background: #222;
    z-index: 1005;
}



/****************************
*****************************
MEDIA QUERIES - SMALL PHONES
*****************************
*****************************/

@media (max-width: 414px){
    
    .bkgdImgInvrt3 {
        display: none;
    }
    
    .bkgdImgInvrt4 {
        display: none;
    }
  
    
/****************************
HEADER - SMALL PHONES
*****************************/
    .banner {
        text-align: center;
        padding-left: 10px;
    }
    
    .cccLogo {
        top: 83px;
        left: 10px;
        
    }
    
    #logo{
    height: 64px;
    width:90px;
    background-size: contain;
}

    
/****************************
TUITION ASSIST - SMALL PHONES
*****************************/
       
    #scholLinks {
        text-align:;
    }

    #scholLinks a {
        width: 50%;
        font-size: 95%;
        top: 180px;
        left: 0;
        padding: 0;
    }
    
    
/************************
SLIDE SHOW - SMALL PHONES
*************************/
    
    .slideShow {
        display: none;
    }

    .slideShow img {
        display: none;
    }
    
    .lrgImg {
        display: none;
    }
    
    
/************************
NAV LINKS - SMALL PHONES
*************************/

   /* .navPhone2 {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 95%;
        font-weight: bold;
        margin: 10px 15px;
        padding: 20px 0 0 0;
        list-style: none;
        border-color: none;
        z-index: 99;   
    }
    
    .navPhone2 li {
        float: left;
        padding-right: 15px;
        color: navyblue;
        background: none;
        border-radius: 10px;
        margin-right: 15px;
        font-size: .8em;
        text-align: center;
}
*/
    
    
    .navPhone2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-size: .8em;
        font-weight: bold;
        color: rgba();
        height: 125px;
        width: 120px;
        margin: 0;
        top: 90px;
        right: 10px;
        z-index: 99;  
         
    }
    
    .navPhone2 ul {
       
        color: #fff;
        padding: 0 5px;
        list-style-type: none;
        border-color: #fff;
    }
    
    .navPhone2 li {
        width: 100%;
        color: #fff;
        text-size: .4em;
        text-align: center;
        background: #fff;
        margin: 0;
        padding: 0;
    }
    

/************************
ABOUT CCC - SMALL PHONES
*************************/

    .txtMissn {
        display: flex:
        margin: 0 auto;
        margin-top: 0;
        width: 100%;
        opacity: .9;
        right: 0px;
        background: 00e0d5;
    }
    
    .txtMissn span {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 70%;
        margin: 4px 4px;
    }
    
    .missnCols {
        flex-wrap: wrap;
        font-size: 70%;
        padding-right: 0px;
        color: #000;
    }
    .missnCol1 {
        width: 55%;
        float: left;
        clear: both;
        margin:0px 0px 0 0px;
        padding: 5px;
    } 
    
    .missnCol2 {
        width: 39%;
        float: right;
        clear: both;
        margin: 0px 0px 0px 0px;
        padding: 5px;
    }
    
    h4 {
        font-size: 100%;
    }
    
    
    
 /************************
BACKGROUND IMAGES - SMALL PHONES
*************************/
   
    
    
    .bkgdImgInvrt {
        display: none;
    }
    
     .bkgdImgInvrt2 {
        display: none;
    }
    
    .main-footer {
        height: 70px; 
        width: 100%;
        font-size: 75%;
        position: fixed;
        padding: 0;
        position: absolute;
    }

}
    
/********* End Phones MQ *********/



        
/****************************
*****************************
MEDIA QUERIES - PHABLETS
*****************************
*****************************/

@media (min-width: 415px)
    and (max-width: 740px){
    
    
/****************************
HEADER - PHABLETS
*****************************/
    .banner {
        text-align: center;
        padding-left: 10px;
    }
    
    .cccLogo {
        top: 83px;
        left: 10px;
        
    }
    
    #logo{
    height: 64px;
    width:90px;
    background-size: contain;
}

    
/****************************
TUITION ASSIST - PHABLETS
*****************************/
       
    #scholLinks {
        text-align:;
    }

    #scholLinks a {
        width: 50%;
        font-size: 95%;
        top: 180px;
        left: 0;
        padding: 0;
    }
    
    
/************************
SLIDE SHOW - PHABLETS
*************************/
    
    .slideShow {
        display: none;
    }

    .slideShow img {
        display: none;
    }
    
    .lrgImg {
        display: none;
    }
    
    
/************************
NAV LINKS - PHABLETS
*************************/

   /* .navPhone2 {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 95%;
        font-weight: bold;
        margin: 10px 15px;
        padding: 20px 0 0 0;
        list-style: none;
        border-color: none;
        z-index: 99;   
    }
    
    .navPhone2 li {
        float: left;
        padding-right: 15px;
        color: navyblue;
        background: none;
        border-radius: 10px;
        margin-right: 15px;
        font-size: .8em;
        text-align: center;
}
*/
    
    
    .navPhone2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-size: .8em;
        font-weight: bold;
        color: rgba();
        height: 125px;
        width: 120px;
        margin: 0;
        top: 90px;
        right: 10px;
        z-index: 99;  
         
    }
    
    .navPhone2 ul {
       
        color: #fff;
        padding: 0 5px;
        list-style-type: none;
        border-color: #fff;
    }
    
    .navPhone2 li {
        width: 100%;
        color: #fff;
        text-size: .4em;
        text-align: center;
        background: #fff;
        margin: 0;
        padding: 0;
    }
    

/************************
ABOUT CCC - PHABLETS
*************************/

    .txtMissn {
        display: flex:
        margin: 0 auto;
        margin-top: 0;
        width: 100%;
        opacity: .9;
        right: 0px;
        background: 00e0d5;
    }
    
    .txtMissn span {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 70%;
        margin: 4px 4px;
    }
    
    .missnCols {
        flex-wrap: wrap;
        font-size: 70%;
        padding-right: 0px;
        color: #000;
    }
    .missnCol1 {
        width: 55%;
        float: left;
        clear: both;
        margin:0px 0px 0 0px;
        padding: 5px;
    } 
    
    .missnCol2 {
        width: 39%;
        float: right;
        clear: both;
        margin: 0px 0px 0px 0px;
        padding: 5px;
    }
    
    h4 {
        font-size: 100%;
    }
    
    
    
 /************************
BACKGROUND IMAGES - PHABLETS
*************************/
   
    
    
    .bkgdImgInvrt {
        display: none;
    }
    
     .bkgdImgInvrt2 {
        display: none;
    }
    
    .main-footer {
        height: 70px; 
        width: 100%;
        font-size: 75%;
        position: fixed;
        padding: 0;
        position: absolute;
    }

}

/********* End Phablets MQ *********/



/********* Tablets *********/

@media (min-width: 741px) and (max-width: 1080px) {
        
.banner {
        font-size: ;
        text-align: right;
        padding: 2px;
    }
        
    .cccLogo {
       position: absolute; 
        margin-top: 0 5px 5px 0;
        width: 100%;
        top: 10px;
        left: 10px;
        padding-left: 15px;
       max-width: 25%;
    }
    
/*     
    .myButton {
        margin: 0 300px 0 650px;
        position: absolute;
        width: auto;
        top: 110px;
    }
       
    .intro {
        flex-direction: column;
        font-size: 100%;
        bottom: 10%;
        width: 100%;
    }
    


   #button-donate {
    font-size: .8em;
    height: 23px;
    width: 75px;
}
*/
        
    .bkgdImg {
        display: none;
    }
    
    .bkgdImg2 {
        display: none;
    }
        
    .transSide{
        width: 200px;
        height: 100%;
        font-size: 1em;
    }
        
    .main-footer {
        height: 60px; 
        width: 100%;
        font-size: 75%;
        padding: 5px;
    }
         
} 

/********* End Tablets MQ *********/




/****************************
EXTRA CODE????
*****************************/

/*
.donateBtn ul {
    list-style-type: none;   
}

.donateBtn li {
    postion: absolute;
    text-size: .6em; 
    color: #fff;
}
*/

/*


a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
}

a:link {
    color: #440099;
}  

a:visited {
    color: #440099;
}

/* mouse over link */
a:hover, a:focus {
    color: gold;
    background:#000;
}

/* selected link */
a:active {
    color: gold;
}

*/

/*
.myButton {
    margin: 0 200px 0 650px;
    position: absolute;
    width: auto;
    top: 95px;
    right: 50px;
	-moz-box-shadow: 1px 2px 3px 1px #fff6af;
	-webkit-box-shadow: 1px 2px 3px 1px #fff6af;
	box-shadow: 1px 2px 3px 1px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 20px;
	text-decoration:none;
	text-shadow:1px -3px 5px #ffee66;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.myButton:active {
    color: red;
}
*/


/****************************
GOOGLE MAP
*****************************/
/*

#mapDir {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Roboto', sans-serif; 
    margin: 100px 100px;
    font-size: 1em;
    color: #1c63ff;
    text-align: left;
    padding: 5px 10px 5px 5px;
    width: 73%;
    height: 750px;
    margin: 350px 0 0 220px;
    background-color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=0.9); /* For IE8 and earlier */
}

#mapDir span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: bold;
    font-size: 1.3em;
    color: #000;
    margin: 4px 4px;
}

#mapDir h4 {
    color: #440099;
}

mapDir p {
    font-size: 80%;
    padding: 5px 5px 0 10px;
    margin-top: px;
}

*/


/*
.navMenu {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #440099;
    text-align: center;
    list-style-type: none;
    padding: 5px 0 0 25px;
    margin-bottom: 1px;
}
*/


.transSide {
    position: absolute;
    height: 1316px;
    width: 200px;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 100px;
    padding-top: 40px;
    background: #fff;
    opacity: 0.6;
    filter: alpha(opacity=0.6); /* For IE8 and earlier */
}

.transSide ul {
    margin-top: 15px;
    list-style-type: none;
    padding: 0 15px 0 15px;
    margin-bottom: 40px;
}




  <!--      
    <div class="volunteer" id="volunteerPg">
            <span><h4>Volunteer Opportunities</h4></span>
            <h4>Become a Volunteer</h4>
            <p>Participate in the following ways:</p>
                <ul>
                    <li>Serve as a Jr. High/High School Mentor</li>
                    <li>Tutor students after school</li>
                    <li>Volunteer as a cook or server for the Christmas Celebration (December) or Achievement Ceremony (May)</li>
                    <li>Organize a school supply or snack drive to provide needed items for student support</li>
                    </ul>
            
                    <p>If you are interested in volunteering for these opportunities, email your request to<a href="mailto:heidi@communitycatholiccenter.org">Heidi at Community Catholic Center</a>and information as well as a background check form will be sent to you.</p>
                    <p>
                    Pray for Our Success–  As all things come from God, CCC continually needs prayers to continue its work.  Please pray for the CCC students and families as well as for our efforts to educate, empower and inspire their faith and educational development.</p>
            
               <div>
                    <img class="imgVol" src="./img/imgTutorVol.jpg" alt="Woman tutors NDA student." width="550" height="400" / >
                   <caption>Evan Burks, NDA student, works with SHA tutoring volunteer Courtney Ford.</caption>
                </div>
                   
                <a href="#topPg">back to top</a>
                    
            </div>
    -->
