          /* HEADER */


* {
    box-sizing: border-box;
}

* {	
    margin: 0;
}

@font-face {
    font-family: 'Slabo 27px', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/************************
HEADER
*************************/

.headerSec {
    display: inline-block;
    width: 100%;
    z-index: 3;
    height: 120px;

}

.banner {
    display: flex;
    justify-content: flex-end;
    background: #440099;
    padding: 10px 3px;
    font-size: .6em;
    text-shadow: 1px 1px 4px #000;
    font-family: 'Lato', sans-serif;
    font-style: oblique;
    color: gold;
    border-bottom: solid 3px gold;
}

.banner h1 {
    padding-right: 10px; 
}

.cccLogo {
    position: absolute; 
    margin-top: 0 5px 5px 0;
    width: 100%;
    top: 10px;
    left: 10px;
    padding-left: 15px;
}

#logo{
    height: 108px;
    width:180px;
    background-size: contain;
}



/****************************
NAV LINKS
*****************************/

 .navPhone2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-size: .8em;
        font-weight: bold;
        color: rgba();
        height: 45px;
        width: 100%;
        margin: 0;
        top: 50px;
        right: 10px;
        z-index: 5; 
}
         
.navPhone2 ul {
    color: navyblue;
    padding: 10px 10px;
    list-style-type: none;
}

.navPhone2 li {
    float: left;
    padding-left: 5px;
    color: navyblue;
    background: #eee;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 2px 0 0 2px;
    margin: 5px;
}



/************************
NAV ANCHORS
*************************/

a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    color: #440099;
    text-decoration: none;
    border-radius: 10px;
}

a:link {
    color: #440099;
}  

a:visited {
    color: #ff1cd5;
}

/* mouse over link */
a:hover, a:focus {
    color: red;
    background:#222;
}

/* selected link */
a:active {
    color: gold;
}


/************************
TUITION ASSIST
*************************/


#scholLinks {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #440099;
    text-shadow: none;
    text-align: center;
    background: navyblue;
    border-radius: 30;
    z-index: 11;
    top: 40;
}

#scholLinks a {
    display: inline-block;
    position: absolute;
    top: 160px;
    left: 0;
    font-size: 1.2em;
    text-shadow: none;
    text-decoration: underline;align-content: 
    color: #440099;
    background: navyblue;
    padding: 0 0 0 20px;
    border-radius: 30px navyblue;
    z-index: 999;
}

#scholLinks li,
#scholLinks a:link {
    color: #fff;
}  

#scholLinks a:visited {
    color: #ff1cd5;
}

/* mouse over link */
#scholLinks a:hover {
    color: red;
}

/* selected link */
#scholLinks a:active {
    color: gold;
}



/************************
CONTENT
*************************/


content {   
	display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
}


/************************
BACKGROUND IMAGE
*************************/


.bkgdImgInvrt4 {
    position: fixed;
    background-image: no repeat;
    width: 100%;
    top: 0;
    opacity: .2;
}


/************************
SLIDE SHOW
*************************/

  
.slideShow {
    display: inline-flex;
    position: absolute;
    width: 45%;
    height: 100px;
    top: 232px;
    left: 10px;
    overflow-x: scroll;
    z-index: 1001;
}

.slideShow img{
    height: 100%;
    width:  auto;
    background-size: contain;
    cursor: pointer;
    border-right: solid 2px #440099;
    border-bottom: solid 3px #440099;
    border-top: solid 3px #440099;
    z-index: 1002;
}

.lrgImg {
    position: absolute;
    width: 45%;
    height: auto;
    top: 220px;
    margin: 150px 0 0 10px;
    background-size: contain;
    cursor: pointer;
    border: solid 3px darkblue;
    z-index: 8;
}


/************************
ABOUT CCC
*************************/

.txtMissn {
    display: flex;
    position: absolute;
    top: 81px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #1c63ff;
    text-align: left;
    padding: 5px 10px 5px 5px;
    width: 43%;
    height: 430px;
    top: 230px;
    right: 30px;
    background-color: #4ee2ec;
    border: solid 2px darkblue;
    z-index: 8;
    opacity: 0.7;
    filter: alpha(opacity=0.7); 
}

.txtMissn span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    color: #222;
    font-size: 1.3em;
    margin: 4px 4px;
    padding-bottom: 15px;
}

.missnCols {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #000;
}

.missnCol1 {
    width: 46.5%;
    height: 400px;
    float: left;
    clear: both;
    margin:5px 20px 0 10px;
    padding: 5px;
}

.missnCol1 p {
    padding-bottom: 10px;
}

.missnCol2 {
    width: 46.5%;
    height: 400px;
    float: right;
    clear: both;
    margin:5px 20px 0 10px;
    padding: 5px;
}

#m1c2 {
    padding-top: 5px;
}

h4 {
    #440099;
}

.hdM {
    color: #000;
}

#hoursPg {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 63px;
        height: 25px;
        font-family: 'Lato', sans-serif;
        font-size: .7em;
        text-align: center;
        padding: 0;
        background: gold;
        border: solid 1px #000;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 30px #000;
        z-index: 1000;
    }

.donate {
    position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        width: 63px;
        height: 25px;
        padding-bottom: 25px;
        font-family: 'Lato', sans-serif;
        font-color: #fff;
        font-size: .8em;
        text-align: center;
        background: gold;
        border: solid 2px #000;
        border-bottom-left-radius: 30px #000;
        z-index: 1000;
}
/*
.donateBtn ul {
    list-style-type: none;   
}

.donateBtn li {
    postion: absolute;
    text-size: .6em; 
    color: #fff;
}
*/
a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
}

a:link {
    color: #440099;
}  

a:visited {
    color: #ff1cd5;
}

/* mouse over link */
a:hover, a:focus {
    color: red;
    background:#000;
}

/* selected link */
a:active {
    color: gold;
}




 

/************************
DONATE BUTTON
*************************/

/*
.myButton {
    margin: 0 200px 0 650px;
    position: absolute;
    width: auto;
    top: 95px;
    right: 50px;
	-moz-box-shadow: 1px 2px 3px 1px #fff6af;
	-webkit-box-shadow: 1px 2px 3px 1px #fff6af;
	box-shadow: 1px 2px 3px 1px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 20px;
	text-decoration:none;
	text-shadow:1px -3px 5px #ffee66;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.myButton:active {
    color: red;
}


/****************************
ABOUT CCC - Sec. 1
*****************************/

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    top: 0;
    margin: 1000px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    filter: alpha(opacity=0.7);  
}
.aboutHdr{
    display: flex;
    flex-direction: row;
    height: 170px;
    
}
.aboutHdr img{
    width: 200px;
    height: 120px;
    
}
.aboutEEIrow ul{
    display: flex;
    flex-direction: row;
}
.aboutCCC{
    display: flex;
    flex-direction: row;
}

.about span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%
}

.about h4 ul {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding: 25px;
    width: 45%;
    font-size: 1.3em;
    
}

.about h4 li {

}
.about ul {
    list-style-type: disc;

}

.about li {
    list-style-type: disc;
    width: 48%;
    margin: 0 45px;
    padding: 5px;
}

.about p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 48%;
}

.about a {
    font-size: 1em;
    width: 48%;
}

.img17 {
    width: 100%;
    height: 100%;
}

.serviceProj {
     width: 100%;
    height: 100%;
    font-size: .9em;
    font-style: oblique;
    padding: 0;
    width: 100%;
}


/****************************
ABOUT CCC - Sec. 2
*****************************/

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    top: 0;
    margin: 1000px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    filter: alpha(opacity=0.7);  
}

/*.aboutEEIrow ul{
    display: flex;
    flex-direction: row;
}*/

.aboutCCCsec2{
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
}

.aboutHdr {
    display: none;
}
    /****************************
ABOUT CCC
*****************************/

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    top: 0;
    margin: 1000px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    filter: alpha(opacity=0.7);  
}
.aboutHdr{
    display: flex;
    flex-direction: row;
    height: 170px;
    
}
.aboutHdr img{
    width: 200px;
    height: 120px;
    
}
.aboutEEIrow ul{
    display: flex;
    flex-direction: row;
}
.aboutCCC{
    display: flex;
    flex-direction: row;
}

.about span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%
}

.abtCols {
    
}

.about h4 ul {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding: 25px;
    width: 45%;
    font-size: 1.3em;
    
}

.about h4 li {

}
.about ul {
    list-style-type: disc;

}

.about li {
    list-style-type: disc;
    width: 48%;
    margin: 0 45px;
    padding: 5px;
}

.about p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 48%;
}

.about a {
    font-size: 1em;
    width: 48%;
}

.img17 {
    width: 100%;
    height: 100%;
}

.serviceProj {
     width: 100%;
    height: 100%;
    font-size: .9em;
    font-style: oblique;
    padding: 0;
    width: 100%;
}
    
    


.about span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 100%
}

.about h4 ul {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding: 25px;
    width: 45%;
    font-size: 1.3em;
    
}

.about h4 li {

}
.about ul {
    list-style-type: disc;

}

.about li {
    list-style-type: disc;
    width: 48%;
    margin: 0 45px;
    padding: 5px;
}

.about p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 48%;
}

.about a {
    font-size: 1em;
    width: 48%;
}

.img17 {
    width: 100%;
    height: 100%;
}

.serviceProj {
     width: 100%;
    height: 100%;
    font-size: .9em;
    font-style: oblique;
    padding: 0;
    width: 100%;
}


/****************************
EDUCATE, EMPOWER, INSPIRE
*****************************/


.containerEEI {
    width: 1300px;
    top: 400px;
    bottom: 0;
    margin: 0 auto;
}

.educate {
    display: inline-block;
    width: 30%;
    height: 740px;
    vertical-align: middle;
    top: 400px;
    left: 0;
    margin: 0px 0 0 40px;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.educate span h4,
.empower span h4, 
.inspire span h4 {
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
    padding: 5px 0; 25px;
    width: 100%;
}

.educate h4,
.empower h4, 
.inspire h4 {
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
    padding: 10px 0; 25px;
    width: 100%;
}
.educate ul {
    list-style-type: disc;
    width: 100%;
    color: #fff;
    padding-right: 10px;
}

.educate li,
.empower li,
.inspire li {
    list-style-type: disc;
    width: 50%;
    color: #fff;
    font-size: .9em;
    padding-bottom: 10px;
    width: 100%;
    color: #fff;
}

.educate p,
.empower p,
.inspire p {
    font-size: .9em;
    padding: 5px 40px;
    width: 100%;
    color: #fff;
}

.educate a {
    font-size: .89em;
    width: 50%;
    color: #fff;    
}

.img caption {
    font-size: .6em;
    font-style: oblique;
    color: #fff;
    width: 50%;
}

/****************************
EMPOWER
*****************************/

.empower {
    display: inline-block;
    width: 30%;
    height: 350px;
    vertical-align: middle;
    top: 0;
    align: center;
    margin: 0 0 0 20PX;
    right: 0;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
}

.empower span h4 {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    width: 50%;
}

.empower a {
    font-size: .89em;
    width: 50%;
    color: #fff;
    
}
*/
.img caption {
    font-size: .6em;
    font-style: oblique;
    color: #fff;
    width: 50%;
}


/****************************
INSPIRE
*****************************/


.inspire {
    display: inline-block;
    width: 30%;
    height:300px;
    vertical-align: middle;
    top: 0;
    right: 0;
    align: center;
    margin: 0 0 0 20PX;
    background: #440099;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
}

.img caption {
    font-size: .6em;
    font-style: oblique;
    color: #fff;
    width: 50%;
}



/****************************
VOLUNTEER
*****************************/

.volunteer {
    width: 100%;
    height: 600px;
    top: 0;
    margin: 1400px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    filter: alpha(opacity=0.7);  
}

.volunteer span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 50%
}

.volunteer h4 {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding-bottom: 25px;
    width: 50%;
}

.volunteer ul {
    list-style-type: disc;
    width: 50%;
}

.volunteer li {
    list-style-type: disc;
    width: 50%;
    margin: 0 45px;
    padding: 5px;
}

.volunteer p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 50%;
}

.volunteer a {
    font-size: 1em;
    width: 50%;
}

.imgVol {
    font-size: .9em;
    font-style: oblique;
    padding: 0;
    width: 50%;
}



/****************************
DONATE
*****************************/

.donateBx {
    width: 100%;
    height: 700px;
    top:00px;
    margin: 1000px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    filter: alpha(opacity=0.7);  
}

.donateBx span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 50%
}

.donateBx h4 {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding-bottom: 25px;
    width: 50%;
}

.donateBx ul {
    list-style-type: disc;
    width: 50%;
}

.donateBx li {
    list-style-type: disc;
    width: 50%;
    margin: 0 45px;
    padding: 5px;
}

.donateBx p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 50%;
}

.donateBx a {
    font-size: 1em;
    width: 50%;
}



/****************************
PARTNERS
*****************************/

.partners {
    width: 100%;
    height: 700px;
    top:00px;
    margin: 1000px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.partners span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 50%
}

.partners h4 {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding-bottom: 25px;
    width: 50%;
}

.partners ul {
    list-style-type: disc;
    width: 50%;
}

.partners li {
    list-style-type: disc;
    width: 50%;
    margin: 0 45px;
    padding: 5px;
}

.partners p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 50%;
}



/****************************
DIRECTIONS
*****************************/

.directions {
    width: 100%;
    height: 740px;
    top:00px;
    margin: 1500px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.directions span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 50%
}

.directions h4 {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding-bottom: 25px;
    width: 50%;
}

.directions ul {
    list-style-type: disc;
    width: 50%;
}

.directions li {
    list-style-type: disc;
    width: 50%;
    margin: 0 45px;
    padding: 5px;
}

.directions p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 50%;
}

.directions a {
    font-size: 1em;
    width: 50%;
}



/****************************
CONTACT
*****************************/

.contact {
    width: 100%;
    height: 700px;
    top:00px;
    margin: 2000px 0px 0 0px;
    background: #4ee2ec;
    border: solid 2px darkblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    filter: alpha(opacity=0.9);  
}

.contact span h4 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 15px;
    width: 50%
}

.contact h4 {
    font-size: 1.2em;
    color: #440099;
    text-align: center;
    padding-bottom: 25px;
    width: 50%;
}

.contact ul {
    list-style-type: disc;
    width: 50%;
}

.contact li {
    list-style-type: disc;
    width: 50%;
    margin: 0 45px;
    padding: 5px;
}

.contact p {
    font-size: 1.1em;
    padding: 5px 40px;
    width: 50%;
}

.contact a {
    font-size: 1em;
    width: 50%;
}



/****************************
GOOGLE MAP
*****************************/

#map {
    display: flex;
    align-items: center;
    width: 600px;
    height: 500px;
    top: 50px;
    left: 170px;
}

#mapDir {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Roboto', sans-serif; 
    margin: 100px 100px;
    font-size: 1em;
    color: #1c63ff;
    text-align: left;
    padding: 5px 10px 5px 5px;
    width: 73%;
    height: 750px;
    margin: 350px 0 0 220px;
    background-color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=0.9); /* For IE8 and earlier */
}

#mapDir span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: bold;
    font-size: 1.3em;
    color: #000;
    margin: 4px 4px;
}

#mapDir h4 {
    color: #440099;
}

mapDir p {
    font-size: 80%;
    padding: 5px 5px 0 10px;
    margin-top: px;
}


/************************
UNNEEDED CODE?
*************************/
/*

.hours2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #440099;
    text-align: center;
    list-style-type: none;
    padding: 5px 25px 0 0;
    margin-bottom: 1px;
    height: 1296px;
}

.navMenu {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #440099;
    text-align: center;
    list-style-type: none;
    padding: 5px 0 0 25px;
    margin-bottom: 1px;
}


.navMenu .hours {
    top: 640px;
    position: absolute;
}

#hdhrs {
    font-size: .7em;
    text-decoration: underline;
    color: #440099;
    padding-bottom: 5px;
}

.day {
    font-size: .7em;
    margin-bottom: 5px;
}

.time {
    font-size: .6em;
    color: #000;
    margin-bottom: 10px;
}

*/

.fbLogo {
    position: fixed;
    top: 540px;
    margin: 60px 0 0 300px;
    padding: 5px;
    font-size: .8em;
    border-radius: 10px;
    z-index: 1003;
}

.fbLogo a {
    font-size: .8em;
}

.main-footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px; 
    width: 100%;
    padding: 10px 210px 10px 300px;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 80%;
    border-top: solid 3px darkblue;
	text-align: center;
    vertical-align: middle;
	background: #222;
    z-index: 1005;
}


/****************************
EXTRA CODE????
*****************************/


/*
.intro {
    font-family: 'Lato', sans-serif;
    color: #440099; 
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 120px;
    /*background: radial-gradient(circle at top right, #004744 0%, #00e0d5 55%, #00e0d5 65%, #1ffff4  80%, #fff 90%);*/
    background: #fff;
    border-bottom: solid 5px #440099;  
}

*/

.transSide {
    position: absolute;
    height: 1316px;
    width: 200px;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 100px;
    padding-top: 40px;
    background: #fff;
    opacity: 0.6;
    filter: alpha(opacity=0.6); /* For IE8 and earlier */
}

.transSide ul {
    margin-top: 15px;
    list-style-type: none;
    padding: 0 15px 0 15px;
    margin-bottom: 40px;
}


.navPhone {
    display: none;
}



/****************************
*****************************
MEDIA QUERIES - SMALL PHONES
*****************************
*****************************/

@media (max-width: 414px){
    
    .bkgdImgInvrt3 {
        display: none;
    }
    
    .bkgdImgInvrt4 {
        display: none;
    }
  
    
/****************************
HEADER - SMALL PHONES
*****************************/
    .banner {
        text-align: center;
        padding-left: 10px;
    }
    
    .cccLogo {
        top: 83px;
        left: 10px;
        
    }
    
    #logo{
    height: 64px;
    width:90px;
    background-size: contain;
}

    
/****************************
TUITION ASSIST - SMALL PHONES
*****************************/
       
    #scholLinks {
        text-align:;
    }

    #scholLinks a {
        width: 50%;
        font-size: 95%;
        top: 180px;
        left: 0;
        padding: 0;
    }
    
    
/************************
SLIDE SHOW - SMALL PHONES
*************************/
    
    .slideShow {
        display: none;
    }

    .slideShow img {
        display: none;
    }
    
    .lrgImg {
        display: none;
    }
    
    
/************************
NAV LINKS - SMALL PHONES
*************************/

   /* .navPhone2 {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 95%;
        font-weight: bold;
        margin: 10px 15px;
        padding: 20px 0 0 0;
        list-style: none;
        border-color: none;
        z-index: 99;   
    }
    
    .navPhone2 li {
        float: left;
        padding-right: 15px;
        color: navyblue;
        background: none;
        border-radius: 10px;
        margin-right: 15px;
        font-size: .8em;
        text-align: center;
}
*/
    
    
    .navPhone2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-size: .8em;
        font-weight: bold;
        color: rgba();
        height: 125px;
        width: 120px;
        margin: 0;
        top: 90px;
        right: 10px;
        z-index: 99;  
         
    }
    
    .navPhone2 ul {
       
        color: #fff;
        padding: 0 5px;
        list-style-type: none;
        border-color: #fff;
    }
    
    .navPhone2 li {
        width: 100%;
        color: #fff;
        text-size: .4em;
        text-align: center;
        background: #fff;
        margin: 0;
        padding: 0;
    }
    

/************************
ABOUT CCC - SMALL PHONES
*************************/

    .txtMissn {
        display: flex:
        margin: 0 auto;
        margin-top: 0;
        width: 100%;
        opacity: .9;
        right: 0px;
        background: 00e0d5;
    }
    
    .txtMissn span {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 70%;
        margin: 4px 4px;
    }
    
    .missnCols {
        flex-wrap: wrap;
        font-size: 70%;
        padding-right: 0px;
        color: #000;
    }
    .missnCol1 {
        width: 55%;
        float: left;
        clear: both;
        margin:0px 0px 0 0px;
        padding: 5px;
    } 
    
    .missnCol2 {
        width: 39%;
        float: right;
        clear: both;
        margin: 0px 0px 0px 0px;
        padding: 5px;
    }
    
    h4 {
        font-size: 100%;
    }
    
    .hoursPg {
        
    }
    
 /************************
BACKGROUND IMAGES - SMALL PHONES
*************************/
   
    
    
    .bkgdImgInvrt {
        display: none;
    }
    
     .bkgdImgInvrt2 {
        display: none;
    }
    
    .main-footer {
        height: 70px; 
        width: 100%;
        font-size: 75%;
        position: fixed;
        padding: 0;
        position: absolute;
    }

}
    
/********* End Phones MQ *********/



        
/****************************
*****************************
MEDIA QUERIES - PHABLETS
*****************************
*****************************/

@media (min-width: 415px)
    and (max-width: 740px){
    
    
/****************************
HEADER - PHABLETS
*****************************/
    .banner {
        text-align: center;
        padding-left: 10px;
    }
    
    .cccLogo {
        top: 83px;
        left: 10px;
        
    }
    
    #logo{
    height: 64px;
    width:90px;
    background-size: contain;
}

    
/****************************
TUITION ASSIST - PHABLETS
*****************************/
       
    #scholLinks {
        text-align:;
    }

    #scholLinks a {
        width: 50%;
        font-size: 95%;
        top: 180px;
        left: 0;
        padding: 0;
    }
    
    
/************************
SLIDE SHOW - PHABLETS
*************************/
    
    .slideShow {
        display: none;
    }

    .slideShow img {
        display: none;
    }
    
    .lrgImg {
        display: none;
    }
    
    
/************************
NAV LINKS - PHABLETS
*************************/

   /* .navPhone2 {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 95%;
        font-weight: bold;
        margin: 10px 15px;
        padding: 20px 0 0 0;
        list-style: none;
        border-color: none;
        z-index: 99;   
    }
    
    .navPhone2 li {
        float: left;
        padding-right: 15px;
        color: navyblue;
        background: none;
        border-radius: 10px;
        margin-right: 15px;
        font-size: .8em;
        text-align: center;
}
*/
    
    
    .navPhone2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-size: .8em;
        font-weight: bold;
        color: rgba();
        height: 125px;
        width: 120px;
        margin: 0;
        top: 90px;
        right: 10px;
        z-index: 99;  
         
    }
    
    .navPhone2 ul {
       
        color: #fff;
        padding: 0 5px;
        list-style-type: none;
        border-color: #fff;
    }
    
    .navPhone2 li {
        width: 100%;
        color: #fff;
        text-size: .4em;
        text-align: center;
        background: #fff;
        margin: 0;
        padding: 0;
    }
    

/************************
ABOUT CCC - PHABLETS
*************************/

    .txtMissn {
        display: flex:
        margin: 0 auto;
        margin-top: 0;
        width: 100%;
        opacity: .9;
        right: 0px;
        background: 00e0d5;
    }
    
    .txtMissn span {
        display: flex;
        justify-content: center;
        color: black;
        font-size: 70%;
        margin: 4px 4px;
    }
    
    .missnCols {
        flex-wrap: wrap;
        font-size: 70%;
        padding-right: 0px;
        color: #000;
    }
    .missnCol1 {
        width: 55%;
        float: left;
        clear: both;
        margin:0px 0px 0 0px;
        padding: 5px;
    } 
    
    .missnCol2 {
        width: 39%;
        float: right;
        clear: both;
        margin: 0px 0px 0px 0px;
        padding: 5px;
    }
    
    h4 {
        font-size: 100%;
    }
    
    .hoursPg {
        
    }
    
 /************************
BACKGROUND IMAGES - PHABLETS
*************************/
   
    
    
    .bkgdImgInvrt {
        display: none;
    }
    
     .bkgdImgInvrt2 {
        display: none;
    }
    
    .main-footer {
        height: 70px; 
        width: 100%;
        font-size: 75%;
        position: fixed;
        padding: 0;
        position: absolute;
    }

}

/********* End Phablets MQ *********/



/********* Tablets *********/

@media (min-width: 741px) and (max-width: 1080px) {
        
.banner {
        font-size: .;
        text-align: right;
        padding: 2px;
    }
        
    .cccLogo {
       position: absolute; 
        margin-top: 0 5px 5px 0;
        width: 100%;
        top: 10px;
        left: 10px;
        padding-left: 15px;
       max-width: 25%;
    }
    
/*     
    .myButton {
        margin: 0 300px 0 650px;
        position: absolute;
        width: auto;
        top: 110px;
    }
       
    .intro {
        flex-direction: column;
        font-size: 100%;
        bottom: 10%;
        width: 100%;
    }
    


   #button-donate {
    font-size: .8em;
    height: 23px;
    width: 75px;
}
*/
        
    .bkgdImg {
        display: none;
    }
    
    .bkgdImg2 {
        display: none;
    }
        
    .transSide{
        width: 200px;
        height: 100%;
        font-size: 1em;
    }
        
    .main-footer {
        height: 60px; 
        width: 100%;
        font-size: 75%;
        padding: 5px;
    }
         
} 

/********* End Tablets MQ *********/
