<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Community Catholic Center</title>
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />
	 <meta name="viewport" content="width-device-width, initial-scale-1" />
    <link rel="stylesheet" type="text/css" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic|Roboto:400,400italic,500,500italic,700,700italic,900,900italic' rel="stylesheet" type='text/css'>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
    <link rel="stylesheet" type="text/css" href="./css/main.css" />	
   
</head>
    	
<body ng-app="app">
                
<div ng-controller="galleryController"> 
    
    <div>
        <img class="bkgdImgInvrt4" src="img/bkgdImgInvrt4.jpg" />
    </div>
        
    <div class="headerSec" id="topPg">    
        <div class="banner">
            <h1>Catholic Education Tuition Assistance to Louisville's Portland and West End Children
            </h1> 
        </div>
    
    <div class="cccLogo">
        <img  id="logo"  src="img/ccclogo2.png" alt="ccclogo" width="200" height="110" />
    </div>

    <div class="navPhone2">
         <ul>
            <li><a href="#indexPg">Home</a></li>
            <li ><a href="#aboutPg">About</a></li>
            <li ><a href="#volunteerPg">Volunteer</a></li>
            <li ><a href="#donatePg">Donate</a></li>
            <li ><a href="#partnersPg">Partners</a></li>
            <li ><a href="#directionsPg">Directions</a></li>
            <li ><a href="#contactPg">Contact Us</a></li>
         </ul>
       </div>	
    </div> <!-- end header sec -->
    
	
    <div class="content"> 
     	
		<div class="list-group" ng-cloak ng-controller="galleryController as gallery">

		  <!-- Image Gallery  -->
		  <div class='gallery'>

			<ul class="list-inline thumbs">
			  <li class="thumbnail" ng-repeat="image in gallery.images">
				<img  ng-click="thumbClicked()" ng-src="{{image.image}}"  />
			  </li>
			</ul>
		  </div>

			<div id="largeImg"> 
				<img class="largeImg" ng-src="{{mainImageUrl}}" />
			 </div>
      
		</div>
		
        <div class="mainBx">
            <div class="mainHdr">
                <span><h4>Community Catholic Center</h4></span>
			</div>
            <div class="mainCols">
                <div class="mainCol1" id="m1">
                    <h4>Educate. Empower. Inspire.</h4><br>
                    <p>Community Catholic Center Inc., a 501(c) (3) non-profit organization, works in the Portland and West End neighborhood of Louisville, Kentucky, to assist families in providing a Catholic education to their children.</p>
                    <p>Several Catholic elementary schools and high schools partner with CCC to provide a comprehensive Catholic education to the children in our program.
                    </p>
                </div>
                <div class="mainCol2" id="m1c2">
                    <p>With generous support from donors, CCC provides financial assistance for tuition at local Catholic schools and enrichment opportunities to further develop the students in the program.</p>
                    <br>
                    <h4>Family Counseling.</h4><h4>Family Advocates.</h4> 
                    <h4>Mentors.</h4>
					<h4>Tutors. </h4>
                </div> 
                
                <div id="scholLinks"> 
                	<ul>
                    	<li><a  href="http://www.schoolchoiceky.org/20162017-application" alt="School Choice Scholarships" target="_blank">Tuition Assistance Application</a></li>
                	</ul>
        		</div>  
			
				<!-- Button trigger modal -->
				
			<div class="bttMnBx">
				
				<div>
					<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" id="hrBtt">CCC Hours
					</button>
				</div>
					
<!-- Button trigger donate page -->
				<div>
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="dnBtt">Donate
					</button>
				</div>
			</div>		
</div>  <!-- maincols -->
	
</div>	<!-- mainbx -->

			
<!-- 			<div>
					<a class="donate"  href="#donatePg">Donate</a>
				</div>
  -->	          
        
    <div class="about" id="aboutPg">
      <div class="aboutLeft"> 
          <div class="aboutLeftimg">
          <img class="img17" src="./img/img17.jpg" alt="Girl smiling with other students in the background." width="700" height="300"></a>
          </div>
        
            <div class="aboutCCCtxtLeft">
            <p>Community Catholic Center is dedicated to making a quality Catholic education available and accessible to children living in a community where no Catholic schools are present. First and foremost CCC works with the family to meet the tuition needs of the students; however, through a holistic model CCC also works to improve the students’ overall well-being by incorporating education and personal development activities.</p>
        
        <ul id="sec1">
            <li>Student Education: Helping students attend a Catholic school is only the first step in CCC’s work with a students.  CCC provides tutoring and academic support in addition to representation at school conferences.</li>
            <li>Student & Family Support:  With the goal to give each student the opportunity to achieve his/her full potential, CCC provides an on-staff social worker who facilitates family and student involvement in the schools and in the community. We also provide families with professional representation and collaboration when working with schools and educational services.</li>
            <li>Student Enrichment:  CCC offers enrichment activities that are intended to nurture a child’s self-confidence while expanding life experiences. These activities are meant to stretch students’ imaginations through seeing new possibilities.</li>
        </ul>
        </div><!-- aboutCCCtxtLeft -->
        </div> <!-- end aboutLeft  -->
        
        <div class="aboutRight">       
            <div class="aboutTtl">
            <span><h4>About CCC</h4></span> 
            
            <ul id="aboutEEIrow">
                
                <li>  <a href="#educatePg">Educate</a></li>
                <li>  <a href="#empowerPg">Empower</a></li>
                <li>  <a href="#inspirePg">Inspire</a></li>
              </ul>
            
            </div>
            <div class="aboutCCCsec2">
                
                <div>
                    <img class="serviceProj" src="./img/serviceProj2.jpg" alt="Operation Brightside service project volunteers." width="300" height="170" />
                </div>
                 <div  id="imgSvc"><caption>CCC families pledge to participate in group service projects.<br> Families participated in the Operation Brightside Clean Up in the Portland neighborhood.</caption>
                </div>   
                
                <p id="paraRight">Enrichment and support includes:</p>
                <ul id="bulletRight">
                    <li>After School Tutoring</li>
                    <li>Summer Enrichment Programs</li>
                    <li>Community Service and Outreach</li>
                    <li>Mentoring Program for Jr. High and High School Students</li>
                    <li>Monthly Family Meetings</li>
                    <li>Monthly Family Fun Nights</li>
                    <li>Psycho-educational Testing</li>
                </ul>
                
                <a class="backBtt"  href="#topPg">to top</a>
            </div>
       </div> <!-- end aboutRight --> 
    </div> <!-- aboutPg end -->
        
            
    <div class="containerEEI"> 
		
        <div class="educate" id="educatePg">
            <h4>Educate</h4>
            <p>When families come to CCC seeking tuition assistance in sending their children to Catholic schools, CCC works with the family to create a successful partnership.  CCC and the parents enter into an annual contract to guide the partnership.  Listed below are parent commitments in the contract.
                <h4>Family Commitment</h4>
            </p>
            <ul>
                <li>Parents will pay their share of tuition directly to the school.  CCC is not responsible for any unpaid tuition, fees, or School Choice Money.  Failure to pay tuition/fees will result in being release from CCC’s program.</li>
                <li>Parents will pay all fees and book bills.</li>
                <li>Parents will participate in at least one CCC Service Project.</li>
                <li>Parent will share their talents by volunteering with the 5th Friday Good Shepherd Bingo, the Good Shepherd Festival, and the Portland Festival.</li>
                <li>Parents must apply for Catholic Education Foundation (CEF) and Angela Mason Scholarships.</li>
                <li>Parents are encouraged to apply for School Choice Scholarshps.
                Parents will attend monthly Family Meetings.</li>
                <li>Parents will participate in school events including parent conferences and meetings.</li>
                <li>Parents will create a positive learning environment at home by reading to children, checking homework, and studying nightly.</li>
            </ul> 
               
            <a class="backBtt" href="#topPg">to top</a>           
        </div>
        
        <div class="empower" id="empowerPg">
            <h4>Empower</h4>
            <p>CCC hopes that through its interaction with its families, they become empowered.  By working with other partners in the West End and Portland neighborhoods, CCC families can learn about programs to enrich their lives.</p>
                <ul>
                    <li>The Catholic Enrichment Center offers programs and activites for adults and children.  502.776.0262</li>
                    <li>Louisville Central Community Center offers child and youth development activities as well as job training and financial education for adults.  502.583.8821.</li>
                    <li>West Louisville Community Ministries offers many family services including child care and tutoring programs.  502.778.2815.
                    </li>
                </ul>         
            <a class="backBtt" href="#topPg"> 
				to top</a>
                    
            </div>
        
        <div class="inspire" id="inspirePg">
            <span><h4>Inspire</h4></span>
            <h4></h4>
            <p>Guest speakers are invited to present their message to students and parents at the monthly Family Meetings. These welcomed guests provide encouragement and inspiration to our youth and their families.  Former speakers have included:</p>
                <ul>
                    <li>University of Louisville football players</li>
                    <li>Louisville Metro Police Officers</li>
                    <li>Louisville Fire Fighters</li>
                </ul>      
            <a class="backBtt"href="#topPg">to top</a>         
            </div>
        </div>
	
		        
    <div class="vol" id="volunteerPg">
      <div class="volLeft"> 
			<span><h4>Volunteer Opportunities</h4></span> 
			
            <p #volSec1>Participate in the following ways:</p>
        
        <ul id="volSec1">
			<li>Serve as a Jr. High/High School Mentor</li>
			<li>Tutor students after school</li>
			<li>Volunteer as a cook or server for the Christmas Celebration (December) or Achievement Ceremony (May)</li>	
			<li>Organize a school supply or snack drive to provide needed items for student support</li>
        </ul>
				
		<p id="volSec1">If you are interested in volunteering for these opportunities, email your request to<a class="mlTo" href="mailto:heidi@communitycatholiccenter.org">Heidi at Community Catholic Center</a>and information as well as a background check form will be sent to you.</p>
        <p>
         Pray for Our Success–  As all things come from God, CCC continually needs prayers to continue its work.  Please pray for the CCC students and families as well as for our efforts to educate, empower and inspire their faith and educational development
				</p>
		  
		  <div id="volLinks"> 
			<a  href="" target="_blank">Volunteer Application</a>
		</div>              
				
        </div> <!-- end volLeft  -->
        
        <div class="volRight">  
            <div class="volCCCsec2">
                <div>
                    <img class="imgVol" src="./img/imgTutorVol.jpg" alt="Woman tutors NDA student." width="500" height="380" / >
				</div>
				<div id="volCap">
                   <caption class="volCap">Evan Burks, NDA student, works with SHA tutoring volunteer Courtney Ford.</caption>
                </div>
               
                <a class="volBkBtt" href="#topPg">to top</a>
            </div> <!-- end volCCCsec2-->
       </div> <!-- end volRight --> 
    </div> <!-- volPg end -->

	
    <div class="donateBx" id="donatePg">
         <div  class="donTtl">	<span><h4>Donation Opportunities</h4></span>
		</div>
	<div class="donBthSecs">
		<div class="donSec1">	
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input name="cmd" type="hidden" value="_s-xclick">
        <p>Individual donations make up 85% of the Community Catholic Center budget.&nbsp; Your charitable donation ensures&nbsp;CCC students receive a quality Catholic education and assists with needed tuition costs, enrichment activities, family outreach and so much more.
        </p>

        <p>Donations can be sent to CCC,&nbsp;PO Box 11065, Louisville, KY&nbsp;40251 or by clicking below.<br>

        <input name="hosted_button_id" type="hidden" value="Y8XDY586A8526"><br>

        <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_donateCC_LG.gif" type="image"><br>
        
        <img src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0"></p>
        <p>Contact Heidi Imberi-Hamilton,&nbsp;Executive Director, at 502.424.9398&nbsp;if you are interested in giving your gifts in stocks or&nbsp;bequests.</p>

        <p>Catholic Community Center is an IRS 501 (c) (3) non-profit organization eligible to receive tax-deductible contributions.</p>
        </form>
	</div>
	<div class="donSec2">
         <div><img class="imgDon" src="./img/img20.jpg" alt="Smiling boys." width="400" height="350" />
		</div>
            <a class="donBkBtt"  href="#topPg">to top</a>
	  </div>
   	</div>                 
   </div>
    
            
  <div class="partners" id="partnersPg">
		
	<div class="partTtl">
       <span><h4>CCC Partners</h4></span>
		</div>
		
     <div class="partSecs">
		<div class="partSec1">
		<h4>2015-2016 Partner Schools</h4>
       	<p>During the 2015-2016 school year, nine school are partnering with CCC.  Wtih assistance from CCC staff, families chose and registered to the school of their choice.  CCC partners exculsively with five elementary school.  Students attending high school are encouraged to tour area Catholic high schools to see which one meets their individual needs.</p>
            
       <ul>
          <li>Notre Dame Academy, Louisville</li>
          <li>St. Anthony of Padua, Clarksville</li>
          <li>St. James School</li>
          <li>St. Leonard School</li>
          <li>St. Paul School</li>
          <li>Assumption High School</li>
          <li>Presentation Academy</li>
          <li>Trinity High School</li>
          <li>Holy Cross High School</li>
       </ul>
	</div>     
     
	<div class="partSec2">
       <h4>CCC Board of Directors</h4>
       <p>CCC Board members graciously share their gifts working toward achieving our mission.</p>
            
       <ul>
			<li>Rev. John Burke, pastor at Good Shepherd Parish in Louisville</li>
			<li>Theresa Corrigan</li>
			<li>St. James School</li>
			<li>Jeannie Donovan</li>
			<li>St. Paul School</li>
			<li>Assumption High School</li>
			<li>Steve Ford</li>
			<li>Paul Humphrey</li>
			<li>John Lucchese</li>
			<li>Amy Nall</li>
			<li>Teresa Nash</li>
			<li>Tom Perrone</li>
			<li>Chuck Willenbrink</li>
			<li>Renee Yates</li>
		</ul>
		  
        <a class="partBkBtt" href="#topPg">to top</a>
	</div>    
   </div>
</div>
        
  <div class="directions" id="directionsPg">
	<div class="dirTtl">
		<span>
			 <h4>Directions</h4></span>
	  </div>
	 <h4> Driving Directions to Community Catholic Center
		 3525 Rudd Avenue</h4>
	<div class="dirSecs">
		<div class="dirSec1">
            
            <ul>
                <li>If coming from I-64 heading west, take the 22nd Street exit.</li> 

				<li>If coming from I-264 west, continue to I-64 east.  Take the 22nd Street exit.
				</li>
			</ul>
			
            <p>Turn right at the first light (the Shell station) which is 22nd Street and Portland Ave.</p>  
            <p>Continue on Portland Ave. until 33rd Street, a 5-way intersection at Northwestern Parkway.</p>  
            <p>Turn right onto 33rd Street.</p>  
			<p>Take 33rd Street one block until Rudd Ave.</p>
            <p>Turn left onto Rudd and continue a few blocks.</p>
            <p>CCC/Lehmann Hall is immediately past Good Shepherd Church on your right.</p>

            <p>Street parking is available in front of  Lehmann Hall.   Parking is also available between the church and Lehmann.
            </p>
			
			<a class="dirBkBtt" href="#topPg">to top</a>
		</div>
		
        <div class="dirSec2map">   
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.1333578894996!2d-85.80826488513497!3d38.27640139091366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88696d0255d8769b%3A0xfee6ff71c6754636!2s3525+Rudd+Ave%2C+Louisville%2C+KY+40212!5e0!3m2!1sen!2sus!4v1456516592195" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		
	 </div>
</div>
	  
	  
      <div class="contact" id="contactPg">
		<div class="conTtl">
            <span><h4>Contact Us</h4></span>
		</div>
        <div class="conSub">CCC Staff
		  </div>
	
		<table class="conTbl">
		<tr>
			<th>Staff Member</th>
			<th>Position</th>
			<th class="phone">Phone</th>
		</tr>
		<tr>
			<td>Rae</td>
			<td>Office Manager</td>
			<td class="phone">
			502-424-9398<img src="./img/phone.svg" alt="phone icon" /></td>
		</tr>
		<tr>
			<td>Vern</td>
			<td>LCSW</td>
			<td class="phone">
			502-592-8195<img src="./img/phone.svg" alt="phone icon" /></td>
		</tr>
		<tr>
			<td>Carol</td>
			<td>Elementary Education</td>
			<td class="phone">
			502-609-1280<img src="./img/phone.svg" alt="phone icon" /></td>
		</tr>
        <tr>
			<td>Becky</td>
			<td>Secondary Education</td>
			<td class="phone">
			502-387-7369<img src="./img/phone.svg" alt="phone icon" /></td>
		</tr>
        <tr>
			<td>Heidi</td>
			<td>Executive Director</td>
			<td class="phone">502-797-6493<img  src="./img/phone.svg" alt="phone icon" />
</td>
		</tr>
    </table>  
		<div class="contBkBtt">
			<a href="#topPg">to top</a>
    	</div>
	</div>
        
      <!--  
        <ul class="hours2">
                <li id="hdhrs">HOURS</li>   
                <li class="day">Monday</li> 
                <li class="time">Office:	8am–4pm</li> 
                <li class="time">Tutoring: 3-5pm</li> 
                <li class="day">Tuesday</li> 
                <li class="time">Office:	8am–4pm</li> 
                <li class="time">Social Worker: 1-7pm</li> 
                <li class="time">Tutoring: 3-5pm</li> 
                <li class="day">Wednesday</li> 
                <li class="time">Closed</li>
                <li class="day">Thursday</li>
                <li class="time">Office: 8am–4pm</li>
                <li class="time">Social Worker: 12-6pm</li>
                <li class="time">Tutoring: 3-5pm</li>
                <li class="day">Friday</li>
                <li class="time">Closed</li>
            </ul>
        </div>
    -->
        
  </div> <!-- End Content Div -->        

<footer class="main-footer">  
    <div>
        <p>Community Catholic Center / 3525 Rudd Ave. Louisville, Ky. / 502.424.9398</p>
        <p>&copy 2016 Community Catholic Center / Website designed by Tammy Shaw</p>
        <a href="http://facebook.com/???"><img class="fbLogo" src="img/fbLogo.png" width="35" height="35" alt="FaceBook Logo" class="social-icon"><br>Visit us on FaceBook</a>
    </div>
</footer> 
<div>  <!-- End Angularjs Controller-->   


<div id="myModal" class="modal fade" role="dialog" higherWider>
   <div class="modal-title"> 
	   CCC Hours 
	  <div>
	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="hdhrs">
				<h4  id="hrHd">CCC Hours</h4>
				<ul class="hours2">
					<li class="day">Monday</li> 
					<li class="time">Office: 8am–4pm</li> 
					<li class="time">Tutoring: 3-5pm</li> 
					<li class="day">Tuesday</li> 
					<li class="time">Office: 8am–4pm</li> 
					<li class="time">Social Worker: 1-7pm</li> 
					<li class="time">Tutoring: 3-5pm</li> 
					<li class="day">Wednesday</li> 
					<li class="time">Closed</li>
					<li class="day">Thursday</li>
					<li class="time">Office: 8am–4pm</li>
					<li class="time">Social Worker: 12-6pm</li>
					<li class="time">Tutoring: 3-5pm</li>
					<li class="day">Friday</li>
					<li class="time">Closed</li>
				</ul>
        	</div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->			
	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>    	
	             
<script type="text/javascript" src="./js/app.js"></script>           

</body>
	
</html>
